.bin{

    background: url(../images/artiom-vallat-Gl9SxvjeNkc-unsplash.jpg)
    no-repeat center center fixed;
    background-size: cover;

}



.intro {

    
    font-family: "Raleway", sans-serif;
    
}